<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://github.com/dandelion/datatables" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout_portal">
<head>
	<title>MReg | Register</title>
</head>
<body>
	<div layout:fragment="dashboard_content">
		<!-- Content Header (Page header) -->
		<section class="content-header" th:if="${errorMessageKey}">
		  	<div class="callout callout-danger">
			    	<h4><span class="alert-icon"><i class="fa fa-warning"></i></span> Warning</h4>
			    	<th:block th:text="${errorMessageKey}"></th:block>
		  	</div>
	  	</section>
	
		<!-- Main content -->
		<section class="content">
			<div class="register-box" style="margin-top: 1px;">
				<div class="register-box-body">
					<p class="login-box-msg text-purple">Registration</p>
					<form id="enrollmentform" role="form" th:action="@{/enrollment/save}" th:object="${enrollmentForm}" method="post" onsubmit="return checkForm(this);">
						<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('phoneNumber')} or ${errorPhoneNumber} != null ? 'has-error'">
							<label for="phoneNumber" class="help-block small" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></label>
							<label for="phoneNumber" class="help-block small" th:if="${errorPhoneNumber} != null" th:text="${errorPhoneNumber}"></label>
							<input class="form-control phone" type="text" th:field="*{phoneNumber}" placeholder="Mobile Number" required="required" />
							<span class="glyphicon glyphicon-earphone form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
							<label for="firstName" class="help-block small" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></label>
							<input class="form-control" type="text" th:field="*{firstName}" placeholder="First Name" required="required" />
							<span class="glyphicon glyphicon-tag form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
							<label for="lastName" class="help-block small" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></label>
							<input class="form-control" type="text" th:field="*{lastName}" placeholder="Last Name" required="required" />
							<span class="glyphicon glyphicon-tag form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('birthDate')} ? 'has-error'">
							<label for="birthDate" class="help-block small" th:each="err : ${#fields.errors('birthDate')}" th:text="${err}"></label>
							<input id="birthDate" class="form-control" type="text" th:field="*{birthDate}" placeholder="Date of Birth" />
							<span class="glyphicon glyphicon-calendar form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('gender')} ? 'has-error'">
							<label for="gender" class="help-block small" th:each="err : ${#fields.errors('gender')}" th:text="${err}"></label>
							<input type="radio" name="gender" class="minimal" value="MALE" id="male" checked="checked" /> 
                        	<label for="male">Male</label>
                        	&nbsp;&nbsp;
                        	<input type="radio" name="gender" class="minimal" value="FEMALE" id="female" /> 
                        	<label for="female">Female</label>
						</div>
						<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('email')} or ${errorEmail} != null ? 'has-error'">
							<label for="email" class="help-block small" th:each="err : ${#fields.errors('email')}" th:text="${err}"></label>
							<label for="email" class="help-block small" th:if="${errorEmail} != null" th:text="${errorEmail}"></label>
							<input class="form-control" type="email" th:field="*{email}" placeholder="Email" required="required" />
							<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
						</div>
						<div class="row">
                           	<div class="form-group text-center">                           	                            
                             	<input type="submit" id="submit" class="btn btn-flat bg-purple margin" value="Register" />	                            			                        
                       		</div>							
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>

	<th:block layout:fragment="dashboard_js_addition">				
	    <script th:inline="javascript">
	    	/*<![CDATA[*/
   			   	$(document).ready(function() {    		        
		        	$("#enrollment").addClass("active");
				});
    	
   			   	$(".phone").mask("0000-0000-0000-0");
    	
   			    $("#birthDate").datepicker({
	    		    format: 'dd-mm-yyyy',
		        	orientation: 'bottom auto',
		        	autoclose: true,
		        	clearBtn: true,
		        	defaultViewDate: { year: 1990 }
	      		});
   			    
   			    function checkForm(form) {
   			      	form.submit.disabled = true;
   			      	form.submit.value = "Please wait...";
   			      	
   			     	$("#enrollmentform :input").prop("readonly", true);
   			      	$("#phoneNumber").val($("#phoneNumber").unmask().val());
   			      	return true;
   			    }
		    /*]]>*/
	    </script>
    </th:block>
</body>
</html>