<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Cache-control" content="no-cache" />

    <title>MReg | Register</title>

    <th:block th:replace="fragment/dashboard_css :: dashboard_css"></th:block>
	<th:block layout:fragment="dashboard_css_addition"></th:block>

</head>

<body class="hold-transition skin-purple-light layout-top-nav" style="height: auto; min-height: 100%;">
	
    <div id="wrapper" class="wrapper">
    
		<!-- START @LOADING ANIMATION -->	
		<div class="splash">
			<div class="color-line"></div>
			<div class="splash-title">			
				<img th:src="@{/assets/mreg/img/loader1.gif}" alt="..." />
				<p>loading...</p>
			</div>
		</div>
		<!-- /#loading -->
		<!--/ END LOADING ANIMATION -->
    	
	    	<!-- Header -->
	    	<header id="header" th:replace="fragment/dashboard_header_topnav :: dashboard_header_topnav"></header>

		<!-- Main Wrapper -->
        <div id="content-wrapper" class="content-wrapper" style="background-color: #ffffff;">
           <div layout:fragment="dashboard_content"></div>
        </div>
        <!-- /#content-wrapper -->
        
        <!-- Footer -->
        <footer id="footer" th:replace="fragment/dashboard_footer_topnav :: dashboard_footer_topnav"></footer>

    </div>
    <!-- /#wrapper -->
    
    <th:block th:replace="fragment/dashboard_js :: dashboard_js"></th:block>
	<th:block layout:fragment="dashboard_js_addition"></th:block>

</body>

</html>
